.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  background-color: #f0f0f0; /* Background color for the container */
}

.rounded-blocks {
  display: flex;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Background color for the main block */
}

.left-section,
.right-section {
  flex: 1;
  padding: 20px;
}

.center-section {
  flex: 2;
  padding: 20px;
}

.form-element {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Label color */
}

.input,
.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  background-color: #007bff; /* Button background color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3; /* Button hover background color */
}

.checkbox {
  margin-top: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.activities {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.h2 {
  font-size: 18px;
  color: #333; /* Heading color */
}
