body {
  /* overflow: hidden; */
  background-color: #323535; /* Light aquamarine */
}

.dashboard-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f07c7c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; /* Center horizontally */
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  
}

 
.rounded-blocks {
  background-color: #4a3ab4;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
}

.left-section {
  flex: 1;
  height: 100%; /* Increase left section height */
  padding: 40px;
}

.center-section {
  flex: 2;
  height: 100%; /* Increase center section height */
  padding: 40px;
}

.right-section {
  flex: 1;
  height: 100%; /* Increase right section height */
  background-color: #f8f9fa;
}

.Dashboard-uname {
  font-size: 24px;
  margin-bottom: 20px;
}

.username {
  color: #6c5ce7;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.action-button1,
.action-button2 {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button1 {
  background-color: #007bff;
}

.action-button2 {
  background-color: #dc3545;
}

.info-boxes {
  display: flex;
  justify-content: space-between;
}

.info-box {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.infotext {
  font-size: 18px;
  margin-bottom: 10px;
}

.total-owe .infotext {
  color: red;
}

.your-own .infotext {
  color: green;
}

.activities {
  padding: 20px;
}
