/* Signup.css */

.signup-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

.signup-container form label {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
    text-align: left; /* Align labels to the left */
}

.signup-container form label span {
    font-weight: bold;
}

.signup-container form input[type="text"],
.signup-container form input[type="email"],
.signup-container form input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.signup-container form button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: rgb(71, 191, 238);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container form button:hover {
    background-color: rgb(13, 63, 83);
}

.signup-container form button:focus {
    outline: none;
}

.signup-container form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.signup-container form button:disabled:hover {
    background-color: #ccc;
}
